/* Importación de fuente de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* Selector universal: Condiciones basicas para iniciar a diseñar, se aplican a todo el proyecto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* Declaración de variables para facilitar uso durante todo el css */
:root {
    --primarycolor: #FFE142;
    --backgroundcolor: #FFE142;
    --backgroundmain: #FFF5F5;
    --textcolor: #F2F1F2;
    --tipography: "Roboto Condensed", sans-serif;
}

/* Inicio del body, queremos que ocupe el 100% de la pantalla */
body {
    /* Ancho del 100% de la pagina */
    width: 100vw;
    /* Alto auto ya que va a ser necesario scroll */
    height: auto;
    /* Propiedad para gestionar scroll en eje x*/
    overflow-x: hidden;
    /* Tipografia general para toda la pagina */
    font-family: var(--tipography);
    /* Color de letra para toda la pagina */

}

/* Caracteristicas para todo mi header (Barra de navegación y banner principal */
header {
    /* Quiero que mi header se vea en toda la pantalla cuando se ingrese a la pagina de inicio */
    width: 100vw;
    height: 100vh;
    /* Color de fondo del header */
    background-color: var(--backgroundcolor);
}

/* Caracterotiticas para espacio general de barra de navegación */
.barraDeNavegacion {
    /* Ancho de toda la pantalla */
    width: 100vw;
    /* Alto solo de 80px para que quede en la parte superior de la vista*/
    height: 10%;
    background-color: #D9D9D9;
}

/* Estilos del texto escrito dentro de barra de navegación */
.elementosBarraDeNavegacion {
    /* border: solid var(--primarycolor); */
    /* Un ancho automtico para mejorar la responsividad de la pagina */
    width: auto;
    /* Un alto de 100% para ocupar todo mi espacio del container-navBar y sea aprovechado de mejor manera */
    height: 100%;
    /* Uso de display flex para organizar los elementos de manera horizontal y no vertical, adicional de las propedades siguientes para mejorar ubicación */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    /* Propeidad para que no tener viñetas de la lista de la barra de navegación */
    list-style: none;
    /* Propiedad de display flex para garantizar espacio entre los elementos del contenedor */
    gap: 90px;

}

.logoEmpresarial {
    height: 50px;
    width: 50px;
}

/* Modificación estilos texto con enlaces dentro de la barra de navegación  */
a {
    text-decoration: none;
    color: black;
    /* font-size: 20px; */

}

/* Caracteristicas generales de todo el banner principa, foto, titulos, parrafo y boton */
.Bannerprincipal {
    /* border: solid red; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    height: 87%;
    /* margin-right: 60px;
    margin-bottom: 10px; */
    /* margin-right: 60px; */
}

/* Estilos de iconos de redes sociales */
.iconosRedes {
    /* border: solid purple; */
    display: flex;
    flex-direction: column;
    width: 6%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

/* Modificación de estilos de todos los iconos traidos de bootstrap */
.bi {
    font-size: 3em;
    color: black;
}

/* Caractersticas para todo el banner principal menos a foto */
.Bannerprincipal1-1 {
    /* border: solid blue; */
    border-radius: 0px 0px 0px 50px;
    background-color: var(--backgroundmain);
    height: auto;
    width: 55%;
    /* padding: 20px; */
    padding-left: 100px;
    /* margin: 40px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.lineaDecoracionBannerPrincipal {
    height: 50px;
    width: 35%;
    padding-top: 20px;
}

/* Modificación interna de bannerprincipal1-1 */
.Bannerprincipal1-1 h1 {
    /* border: solid blue; */
    font-size: 8em;
    /* padding: 100px; */
}

.Bannerprincipal1-1 h2 {
    font-size: 3em;
    margin-top: 10px;
}

.flechaMovil {
    display: flex;
    margin-top: 20px;
}

.flechaBannerPrincipal {
    width: 100px;
    margin-right: 20px;
}

.textoFlecha {
    font-size: 200%;
}

.btn {
    /* border: solid red; */
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color: var(--backgroundcolor);
    cursor: pointer;
    margin-left: 20%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn:hover {
    border: solid var(--backgroundcolor);
    background-color: var(--textcolor);
}

.Bannerprincipal1-2 {
    /* border: solid blue; */
    border-radius: 0px 0px 50px 0px;
    background-color: var(--backgroundmain);
    height: auto;
    width: 35%;
    position: relative;
}

/* Estilos imagen principal banner */
.Bannerprincipal1-2 img {
    /* border: solid red; */
    border-radius: 50%;
    height: 400px;
    margin-top: 100px;
}

.w1 {
    position: absolute;
    top: 5%;
    right: 5%;
    box-shadow: 10px 5px 5px #D9D9D9;
}

/* FIN DE EDICIÓN DEL HEADER ___________________________________________________________________________________________ */
/* INICIO DE MODIFIACIÓN DEL MAIN SECCIÓN 1____________________________________________________________________________________________ */
.seccionDos {
    /* border: solid yellow; */
    height: 100vh;
    width: 99vw;
    background-color: var(--backgroundmain);
    position: relative;
}

/* Estilos de titulo de la sección 2 de la pagina de inicio */
.encabezadoSeccion2 {
    /* border: solid red; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* place-content: center; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    /* font-weight: bold; */
    /* font-size: 6em; */
    position: relative;
}

.primerTituloMain {
    font-weight: bold;
    font-size: 4em;
    /* border: solid blue; */
    grid-column-start: 0;
    grid-column-end: 3;
    /* position: absolute; */
    /* left: 50%; */
}

.primerSubtituloMain {
    /* font-weight: bold; */
    /* border: solid blue; */
    font-size: 2em;
}

.w2 {
    /* border: solid red; */
    /* width: 20px; */
    position: absolute;
    /* right: 60px; */
    right: 5%;
    box-shadow: 10px 5px 5px #D9D9D9;
}

.contenedoresPlanes {
    height: 55%;
    /* border: solid purple; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: center; */
    justify-items: center;
    padding: 40px;

    gap: 30px;

}

.cnt {
    /* border: solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #D9D9D9;
    box-shadow: 10px 5px 5px #D9D9D9;
    border-radius: 40px;
    width: 300px;
    height: 320px;
    cursor: pointer;
    color: black;
    padding: 20px;
}

.cnt:hover {
    border: solid var(--backgroundcolor);
    background-color: var(--textcolor);
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn2 {
    /* border: solid red; */
    position: absolute;
    width: 400px;
    left: 20%;
    bottom: 5%;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 0px;
}

/* FIN DE SECCIÓN UNO DE MAIN DEL SITIO WEB PLANES________________________________________________________________________________ */
/* INICIO DE EDICIÓN DE SECCIÓN 2 DEL MAIN, CARRUSEL DE PROYECTOS */
.contenedorCarrusel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundcolor);
    /* position: relative; */
}

.conoceNuestrosProyectos {
    /* display: flex; */
    text-align: center;

    margin-top: 20px;
}

.carrusel {
    /* border: solid orange; */
    /* margin: auto; */
    overflow: hidden;
    /* width: 100vw;
    height: 100vh; */
    /* padding: 100px; */
    padding: 40px;
    /* position: absolute; */
    /* bottom: 0.5px; */
}

/* FIN DE EDICIÓN DE SECCIÓN 2 DEL MAIN CARRUSEL DE PROYECTOS */
/* INICIO DE FOOTER_____________________________________________- */
footer {
    background-color: var(--textcolor);
    width: 100vw;
    height: 100vh;
    color: black;
    display: grid;
    grid-template-columns: 10% 90%;
    text-align: center;
}

/* EDICIÓN ICONOS COSTADO IZQUIERDO FOOTER */
.iconosRedesFooter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

/* Edición del contenedor principal del footer */
.principalFooter {
    /* border: solid purple; */
    /* border-bottom: var(--textcolor); */
    width: auto;
    /* display: flex; */
}

/* Edición de titulo, subtitulo y boton del footer */
.encabezadoFooter {
    /* border: solid green; */
    /* border-bottom: var(--textcolor); */
    height: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center;
    place-content: center; */
    position: relative;
    border-bottom: solid var(--backgroundcolor)
}

.encabezadoFooter h2 {
    font-size: 2em;
}

.btn3 {
    box-shadow: 5px 2px 2px var(--backgroundcolor);
    width: 250px;
    position: absolute;
    bottom: 40px;
    left: 300px;
}

/* Edición de la sección 3 del footer donde esta la información de contacto */
.inforacionDeContacto {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: solid var(--backgroundcolor);
}

.listadoContacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Edición de sección 4 del footer donde esta el mapa de maps */
iframe {
    /* border: solid yellow; */
    border-radius: 20px;
    margin-left: 200px;
    height: 100%;
    margin-top: 25px;
}

/* Edición de la ultima sección del footer datos de copyright */
.seccionContacto5 {
    /* border: solid white; */
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
    font-size: 2em;
    margin-top: 20px;
    /* padding-top: 100px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FIN DE EDICIÓN TOTAL DE LA PAGINA___________________________________________________ */
/* EDICIÓN RESPONSIVE */
@media screen  and (max-width: 1024px) {

    /* INICIO EDICIÓN HEADER */
    header {
        width: 100vw;
        height: auto;
    }

    /* INICIO EDICIÓN BARRA DE NAVEGACIÓN */
    .barraDeNavegacion {
        /* Ancho de toda la pantalla */
        width: 100vw;
        /* Alto solo de 80px para que quede en la parte superior de la vista*/
        height: auto;
        background-color: #D9D9D9;
    }

    .elementosBarraDeNavegacion {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    /* FIN EDICIÓN BARRA DE NAVEGACIÓN */
    /* INICIO DE EDICIÓN BANNER PRINCIPAL */
    .Bannerprincipal {
        width: 100vw;
    }
    .Bannerprincipal1-2{
        display: none;
    }
    .bi{
        font-size: 1em;
    }

    .Bannerprincipal1-1 {
        /* border: solid blue; */
        border-radius: 20px 20px 20px 20px;
        background-color: var(--backgroundmain);
        height: auto;
        width: 100vw;
        padding-left: 20px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        
    }

    .lineaDecoracionBannerPrincipal {
        height: 30px;
        width: 25%;
        padding-top: 20px;
    }

    .Bannerprincipal1-1 h1 {
        /* border: solid blue; */
        font-size: 2em;
    }

    .Bannerprincipal1-1 h2 {
        font-size: 1em;
        margin-top: 10px;
    }

    .flechaBannerPrincipal {
        width: 60px;
    }

    .textoFlecha {
        font-size: 100%;
    }

    .btn {
        /* border: solid red; */
        width: 100px;
        height: 30px;
        font-size: 0.8em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* FIN DE EDICIÓN DE HEADER */
    /* INICIO DE EDICIÓN DE MAIN */
    /* EDICIÓN SECCIÓN 1 DEL MAIN PLANES */
    .seccionDos {
        width: 100vw;
        height: auto;
    }
    .primerTituloMain {
        font-size: 2em;
    }

    .primerSubtituloMain {
        font-size: 1em;
    }
    .contenedoresPlanes {
        /* border: solid purple; */
        display: grid;
        grid-template-columns: 1fr;
        /* justify-content: center; */
        padding: 20px;
    }
    .btn2 {
        /* border: solid red; */
        width: 200px;
        box-shadow: 10px 10px 10px black;
        margin-bottom: 0px;
        position: absolute;
        bottom: 20px;
        left: 130px;
    }
    /* FIN SECCIÓN 1 DEL MAIN */
    .contenedorCarrusel {
        width: 100vw;
        height: auto;
    }
    .carrusel{
        width: auto;
    }
    .conoceNuestrosProyectos {
        /* display: flex; */
        text-align: center;
    
        margin-top: 20px;
    }
/* FIN DE SECCIÓN 2 DEL MAIN_________________________________ */
/* FIN DE MAIN___________________________________________ */
/* INICIO FOOTER____________________________________________ */
footer {
    background-color: var(--textcolor);
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.iconosRedesFooter{
    display: none;
}
.principalFooter{
    width: 100vw;
}
.encabezadoFooter{
    height: auto;
}
.encabezadoFooter h3 {
    font-size: 0.8em;
}
.encabezadoFooter h2 {
    font-size: 1em;
}
.btn3 {
    width: 250px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    left: 110px;
}
.inforacionDeContacto {
    width: 100vw;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    gap: 20px;
}
iframe{
    margin-left: 10px;
}
}
@media screen and (max-width: 767px) {
    .w2 {
        /* border: solid red; */
        /* width: 20px; */
        position: absolute;
        /* right: 60px; */
        right: 10%;
        bottom: 40%;
        box-shadow: 10px 5px 5px #D9D9D9;
    }
    .btn2 {
        /* border: solid red; */
        width: 200px;
        box-shadow: 10px 10px 10px black;
        margin-bottom: 0px;
        position: absolute;
        bottom: 20px;
        left: 30px;
    }
    .btn3 {
        width: 250px;
        height: 25px;
        position: absolute;
        bottom: 20px;
        left: 5px;
    }
}